{% extends'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <form action="{{ path('send_mail')}}" method="get">
                    <div class="row">
                        <div class="col-md-8">
                            <textarea name="mail" id="" cols="30" rows="10" class="form-control" placeholder="Votre mail ici.."></textarea>
                        </div>
                        <div class="col-md-4">
                            <input type="hidden" value="{{ produit.titre }}" name="produit">
                            <h1>{{ produit.titre }}</h1>
                            <h2>{{ produit.stockQte }} pièces - {{ produit.poids }} Kg</h2>
                            <div class="text-primary" style="font-size: 4rem;font-weight: bold;">{{ produit.prixTTC | number_format(0,'',' ') }} €</div>
                            <button type="submit" class="btn btn-success">Contactez-nous !</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="container mt-4">
            <p>
                {{ produit.description | nl2br }}
            </p>
            <div class="row">
                <div class="col-md-8">
                    <h2>Caractéristiques</h2>
                    <table class="table table-striped">
                        <tr>
                            <td>Stock</td>
                            <td>{{ produit.stockQte }}</td>
                        </tr>
                        <tr>
                            <td>Poids</td>
                            <td>{{ produit.poids }} Kg</td>
                        </tr>
                        <tr>
                            <td>Couleur</td>
                            <td>{{ produit.couleur }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <h2>Spécificités</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}