{% extends 'base.html.twig' %}

{% block title %}Nos produits en stock{% endblock %}

{% block body %}
    <div class="container">
        <h2> Nos produits en stock</h2>
        <form class="pull-right hidden" role="search" id="nav-search-form" method="get" action="{{ path('produits_search') }}">
            <input name="search" type="text" class="form-control" id="search"  placeholder="Titre ou description" />
            <button type="submit">Rechercher</button>
        </form>

        </a>
        <div class="row flex">
            {% for produit in produits %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('produits_detail',{slug:produit.slug}) }}">{{ produit.titre }}</a>
                            </h5>
                            <p class="card-text">{{ produit.description }}</p>
                            <p class="card-text">{{ produit.poids|number_format(1, ',', '.') }} Kgs</p>
                            <div class="text-primary" style="font-weight: bold;font-size: 2rem">{{ produit.prixTTC | number_format(0,'',' ')}} € TTC</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {{ knp_pagination_render(produits) }}
        </div>
    </div>
{% endblock %}
